:root {
  --background: #efefef;
  --color: #3c3c3c;
  --header-footer: hsla(258, 42%, 30%, 0.921);
  --icon-highlight: hsla(258, 42%, 30%, 0.954);
  
  --text-highlight: hsla(257, 42%, 30%, 0.78);
  --text-highlight-color: #efefef;
}

.darkmode {
  --background: #020202;
  --color: #efefef;
  --header-footer: hsla(258, 42%, 30%, 0.954);
  --icon-highlight: hsla(258, 37%, 36%, 0.885);
}