:root {
  --clr-light: ;
  --clr-dark: ;
  --background: #efefef;
  --theme-accent: hsla(200, 100%, 50%, 0.904);
  --color: rgb(60, 60, 60);


}

.darkmode {
  --clr-light: ;
  --clr-dark: ;
  --background: #020202;
  --color: white;
  --theme-accent: hsla(200, 100%, 50%, 0.904);
}