
header {
  background-color: rgba(159, 97, 97, 0.484);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    &__link{

      &--three {

        &--youtube {
          font-size: 1.8rem;
        }
      }
    }
  }
}



footer {
  background-color: rgba(159, 97, 97, 0.484);
}

.footer {

  &__desc {

    &__signature {
      text-align: center;

      &--icon {
        font-size: 1rem;
      }
    }
  }
}
