@use 'fonts' as *;
@use 'colors' as *;
@use 'breakpoints' as *;

header {
  background-color: rgba(159, 97, 97, 0.484);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    height: 2rem;

    @include breakpoint(small) {
      gap: 2rem;
    }

    &__link{

      &--three {

        &--youtube {
          font-size: 1.8rem;
        }
      }
    }
  }

  &__left {

    &__button {
      cursor: pointer;
    }
  }
}

.main {

  &__greeting {

    &__hello {
      font-size: 3rem;
      font-weight: 500;
    }
  }

  &__project {

    &__one {

      &__image {
        position: relative;

        &--white {
          position: absolute;
          z-index: 1;
        }

        &--black {
          position: absolute;
        }

        &--hidden {
          z-index: 0;
        }
      }
    }
  }
}



footer {
  background-color: rgba(159, 97, 97, 0.484);
}

.footer {

  &__desc {

    &__signature {
      text-align: center;

      &--icon {
        font-size: 1rem;
      }
    }
  }
}
