@use 'fonts' as *;
@use 'colors' as *;
@use 'breakpoints' as *;

header {
  background-color: var(--header-footer);
  position: sticky;
  top: 0;
  z-index: 3;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(small) {
      gap: 1rem;
    }

    &__link{

      &--three {

        &--youtube {
          font-size: 1.8rem;
        }
      }
    }
  }

  &__left {

    &__button {
      cursor: pointer;
    }
  }
}

.main {

  &__greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    &__hello {
      font-size: 2rem;
      font-weight: 900;
      margin-top: -4rem;

      &__span {
        white-space:nowrap;
      }

      @include breakpoint (medium) {
        font-size: 3rem;
      }
    }

    &__about {
      font-size: 1.5rem;
      font-weight: 700;
      max-width: 40ch;

      @include breakpoint (medium) {
        font-size: 2rem;
      }
    }
  }

  &__project {

    &__title {
      font-size: 2rem;
      font-weight: 900;
      border-bottom: 1px solid var(--color);
      margin-bottom: 3rem;

      @include breakpoint (medium) {
        font-size: 3rem;
      }
    }

    &__one {

      &__image {
        position: relative;
        height: 12rem;
        display: flex;
        justify-content: center;

        @include breakpoint (tiny) {
          height: 15rem;
        }
        @include breakpoint (small) {
          height: 20rem;
        }
        @include breakpoint (medium) {
          height: 30rem;
        }
        @include breakpoint (large) {
          height: 40rem;
        }
        @include breakpoint (xlarge) {
          height: 50rem;
        }

        &--white, &--black {
          position: absolute;
          max-height: 12rem;

          @include breakpoint (tiny) {
            max-height: 15rem;
          }
          @include breakpoint (small) {
            max-height: 20rem;
          }
          @include breakpoint (medium) {
            max-height: 30rem;
          }
          @include breakpoint (large) {
            max-height: 40rem;
          }
          @include breakpoint (xlarge) {
            max-height: 50rem;
          }
        }


        &--hidden {
          z-index: -1;
        }
      }

      &__title {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
      }

      &__stack {
        padding-top: 1.5rem;
        font-size: 1.2rem;
      }

      &__text {
        max-width: 70ch;
        font-size: 1.2rem;
      }

      &__buttons {
        margin-block: 2rem;
        display: flex;
        gap: 1rem;
        font-size: 1rem;

        @include breakpoint (tiny) {
          font-size: 1.2rem;
        }

        &__visit, &__code {

          border-radius: 0.5rem;
          color: var(--color);
          padding-block: 1rem;
          padding-inline: 1.5rem;
          border: 1px solid var(--color);
          transition: color 200ms, background-color 200ms;
          user-select: none;

          @media (hover: hover) {
            &:hover {
              background-color: var(--header-footer);
              color: var(--text-highlight-color);
              border: 1px solid var(--header-footer);
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: var(--header-footer);
  margin-top: 3rem;
}

.footer {

  &__desc {

    &__signature {
      text-align: center;
      color: white;

      &--icon {
        font-size: 1rem;
        color: white;
      }
    }
  }
}

.img_unloaded {
  opacity: 0;
}

.cont_blurred {
  background-color: var(--background);
  animation: pulse 2.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}