@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --clr-light: ;
  --clr-dark: ;
  --background: #efefef;
  --theme-accent: hsla(200, 100%, 50%, 0.904);
}

.darkmode {
  --clr-light: ;
  --clr-dark: ;
  --background: #020202;
  color: white;
  --theme-accent: hsla(200, 100%, 50%, 0.904);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Roboto, Tahoma;
  color: rgb(60, 60, 60);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--background);
  letter-spacing: 0.03rem;
}

main {
  flex-grow: 1;
}

i {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 1.5rem;
  transition: color 100ms;
}
@media (hover: hover) {
  i:hover {
    color: var(--theme-accent);
  }
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

:root {
  --padding-block: 1rem;
  --padding-inline: 1rem;
}
@media (min-width: 42.75em) {
  :root {
    --padding-inline: 1.5rem;
  }
}
@media (min-width: 79em) {
  :root {
    --padding-inline: 2rem;
  }
}

.cont {
  width: 100%;
  max-width: 90em;
  margin: 0 auto;
  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
header {
  background-color: rgba(159, 97, 97, 0.78);
  position: sticky;
  top: 0;
  z-index: 3;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  height: 2rem;
}
@media (min-width: 29em) {
  .header__right {
    gap: 2rem;
  }
}
.header__right__link--three--youtube {
  font-size: 1.8rem;
}
.header__left__button {
  cursor: pointer;
}

.main__greeting__hello {
  font-size: 3rem;
  font-weight: 500;
}
.main__project__one__image {
  position: relative;
  padding-block: 1rem;
  height: 12rem;
  display: flex;
  justify-content: center;
}
@media (min-width: 25em) {
  .main__project__one__image {
    height: 15rem;
  }
}
@media (min-width: 29em) {
  .main__project__one__image {
    height: 20rem;
  }
}
@media (min-width: 42.75em) {
  .main__project__one__image {
    height: 30rem;
  }
}
@media (min-width: 56.625em) {
  .main__project__one__image {
    height: 40rem;
  }
}
@media (min-width: 79em) {
  .main__project__one__image {
    height: 50rem;
  }
}
.main__project__one__image--white, .main__project__one__image--black {
  position: absolute;
  max-height: 12rem;
}
@media (min-width: 25em) {
  .main__project__one__image--white, .main__project__one__image--black {
    max-height: 15rem;
  }
}
@media (min-width: 29em) {
  .main__project__one__image--white, .main__project__one__image--black {
    max-height: 20rem;
  }
}
@media (min-width: 42.75em) {
  .main__project__one__image--white, .main__project__one__image--black {
    max-height: 30rem;
  }
}
@media (min-width: 56.625em) {
  .main__project__one__image--white, .main__project__one__image--black {
    max-height: 40rem;
  }
}
@media (min-width: 79em) {
  .main__project__one__image--white, .main__project__one__image--black {
    max-height: 50rem;
  }
}
.main__project__one__image--hidden {
  z-index: -1;
}
.main__project__one__title {
  font-size: 2rem;
  font-weight: 500;
}
.main__project__one__stack {
  padding-top: 1rem;
}
.main__project__one__text {
  max-width: 70ch;
}
.main__project__one__buttons {
  margin-block: 1rem;
  display: flex;
  gap: 1rem;
}
.main__project__one__buttons__visit {
  border-radius: 0.5rem;
  background-color: var(--theme-accent);
  color: white;
  padding-block: 1rem;
  padding-inline: 1.5rem;
}
.main__project__one__buttons__code {
  border-radius: 0.5rem;
  background-color: var(--theme-accent);
  color: white;
  padding-block: 1rem;
  padding-inline: 1.5rem;
}

footer {
  background-color: rgba(159, 97, 97, 0.484);
}

.footer__desc__signature {
  text-align: center;
}
.footer__desc__signature--icon {
  font-size: 1rem;
}/*# sourceMappingURL=styles.css.map */