@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --background: #efefef;
  --color: #3c3c3c;
  --header-footer: hsla(258, 42%, 30%, 0.921);
  --icon-highlight: hsla(258, 42%, 30%, 0.954);
  --text-highlight: hsla(257, 42%, 30%, 0.78);
  --text-highlight-color: #efefef;
}

.darkmode {
  --background: #020202;
  --color: #efefef;
  --header-footer: hsla(258, 42%, 30%, 0.954);
  --icon-highlight: hsla(258, 37%, 36%, 0.885);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: var(--text-highlight);
  color: var(--text-highlight-color);
}

::selection {
  background: var(--text-highlight);
  color: var(--text-highlight-color);
}

ul[role=list], ol[role=list] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Roboto, Tahoma;
  color: var(--color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--background);
  letter-spacing: 0.03rem;
}

main {
  flex-grow: 1;
}

header i {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 1.5rem;
  transition: color 200ms, background-color 200ms;
  color: white;
  padding: 1rem;
}
@media (hover: hover) {
  header i:hover {
    background-color: var(--icon-highlight);
  }
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

:root {
  --padding-block: 1rem;
  --padding-inline: 1rem;
}
@media (min-width: 42.75em) {
  :root {
    --padding-inline: 2rem;
  }
}

.cont {
  width: 100%;
  max-width: 84em;
  margin: 0 auto;
  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);
}

.cont--header {
  width: 100%;
  max-width: 84em;
  margin: 0 auto;
  padding-inline: var(--padding-inline);
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
header {
  background-color: var(--header-footer);
  position: sticky;
  top: 0;
  z-index: 3;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
}
.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 29em) {
  .header__right {
    gap: 1rem;
  }
}
.header__right__link--three--youtube {
  font-size: 1.8rem;
}
.header__left__button {
  cursor: pointer;
}

.main__greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.main__greeting__hello {
  font-size: 2rem;
  font-weight: 900;
  margin-top: -4rem;
}
.main__greeting__hello__span {
  white-space: nowrap;
}
@media (min-width: 42.75em) {
  .main__greeting__hello {
    font-size: 3rem;
  }
}
.main__greeting__about {
  font-size: 1.5rem;
  font-weight: 700;
  max-width: 40ch;
}
@media (min-width: 42.75em) {
  .main__greeting__about {
    font-size: 2rem;
  }
}
.main__project__title {
  font-size: 2rem;
  font-weight: 900;
  border-bottom: 1px solid var(--color);
  margin-bottom: 3rem;
}
@media (min-width: 42.75em) {
  .main__project__title {
    font-size: 3rem;
  }
}
.main__project__one__image {
  position: relative;
  height: 12rem;
  display: flex;
  justify-content: center;
}
@media (min-width: 25em) {
  .main__project__one__image {
    height: 15rem;
  }
}
@media (min-width: 29em) {
  .main__project__one__image {
    height: 20rem;
  }
}
@media (min-width: 42.75em) {
  .main__project__one__image {
    height: 30rem;
  }
}
@media (min-width: 56.625em) {
  .main__project__one__image {
    height: 40rem;
  }
}
@media (min-width: 79em) {
  .main__project__one__image {
    height: 50rem;
  }
}
.main__project__one__image--white, .main__project__one__image--black {
  position: absolute;
  max-height: 12rem;
}
@media (min-width: 25em) {
  .main__project__one__image--white, .main__project__one__image--black {
    max-height: 15rem;
  }
}
@media (min-width: 29em) {
  .main__project__one__image--white, .main__project__one__image--black {
    max-height: 20rem;
  }
}
@media (min-width: 42.75em) {
  .main__project__one__image--white, .main__project__one__image--black {
    max-height: 30rem;
  }
}
@media (min-width: 56.625em) {
  .main__project__one__image--white, .main__project__one__image--black {
    max-height: 40rem;
  }
}
@media (min-width: 79em) {
  .main__project__one__image--white, .main__project__one__image--black {
    max-height: 50rem;
  }
}
.main__project__one__image--hidden {
  z-index: -1;
}
.main__project__one__title {
  font-size: 2rem;
  font-weight: 500;
}
.main__project__one__stack {
  padding-top: 1rem;
  font-size: 1.2rem;
}
.main__project__one__text {
  max-width: 70ch;
  font-size: 1.2rem;
}
.main__project__one__buttons {
  margin-block: 2rem;
  display: flex;
  gap: 1rem;
  font-size: 1rem;
}
@media (min-width: 25em) {
  .main__project__one__buttons {
    font-size: 1.2rem;
  }
}
.main__project__one__buttons__visit, .main__project__one__buttons__code {
  border-radius: 0.5rem;
  color: var(--color);
  padding-block: 1rem;
  padding-inline: 1.5rem;
  border: 1px solid var(--color);
  transition: color 200ms, background-color 200ms;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (hover: hover) {
  .main__project__one__buttons__visit:hover, .main__project__one__buttons__code:hover {
    background-color: var(--header-footer);
    color: var(--text-highlight-color);
    border: 1px solid var(--header-footer);
  }
}

footer {
  background-color: var(--header-footer);
}

.footer__desc__signature {
  text-align: center;
  color: white;
}
.footer__desc__signature--icon {
  font-size: 1rem;
  color: white;
}

.img_unloaded {
  opacity: 0;
}

.cont_blurred {
  background-color: var(--background);
  animation: pulse 2.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}/*# sourceMappingURL=styles.css.map */